<p><%= @user.name %>さんのページ</p>

<% @user.articles.each do |article| %>
  <p><%= article.created_at %></p>
  <h2><%= article.title %></h2>
  <p><%= article.body %></p>
  <%= link_to "削除", article_path(article.id), method: :delete %>
  <%= link_to "更新", edit_article_path(article.id) %>
  <%= link_to "詳細", article_path(article.id) %>
    <hr/>
<% end %>
