<!DOCTYPE html>
<html>
  <head>
    <title>Blogapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if session.has_key? :user_id %>
      <p><%= @current_user.name %>さんでログイン中</p>
      <%= link_to "マイページ", edit_user_path(@current_user.id) %>
      <%= link_to "ログアウト", auth_path(@current_user.id), method: :delete %>
    <% else %>
      <%= link_to "新規登録", new_user_path %>
      <%= link_to "ログイン", new_auth_path %>
    <% end %>

    <hr/>

    <%= yield %>
  </body>
</html>
